ureg-system-api/src/main/mule/unclaimed digital subscription.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="unclaimed_digital_subscriptionFlow" doc:id="80b1db1c-5f20-49e7-be58-db156a20c18f" >
		<logger level="INFO" doc:name="Logger" doc:id="1318d7dc-08e0-42a6-b9c6-2dc7e513cd40" message="unclaimed digital subscription enter"/>
		<http:request method="PUT" doc:name="Request" doc:id="a502f9a2-ed29-4fc1-bae0-5a3ea59d0fd1" config-ref="HTTP_Request_configuration" path="${https.path}/unclaimed" >
			<http:headers ><![CDATA[#[output application/java
---
{
	"Content-Type" : "application/json"
}]]]></http:headers>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"appUserID" : attributes.queryParams.appUserID
}]]]></http:query-params>
		</http:request>
		<logger level="INFO" doc:name="Logger" doc:id="fe20f338-4562-4366-85f3-b59ab443bcc1" message="unclaimed digital subscription exit"/>
	</flow>
</mule>
